/* Initial setup. Make everything flexible that should be. */
.container,
.container header,
.container footer {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}


/* General layout of Flexbox items. */

.container {
  -webkit-flex-basis: 100%;
  flex-basis: 100%;
  -webkit-flex-direction: column;
  flex-direction: column;
  -webkit-justify-content: flex-start;
  justify-content: flex-start;
  height: 98vh;
}
.content {
  -webkit-flex-direction: row-reverse;
  flex-direction: row-reverse;
   -webkit-justify-content: flex-start;
  justify-content: flex-start;
  -webkit-flex-basis: 100%;
  flex-basis: 100%;
}


/* Individual items. */

.message {
  -webkit-flex-basis: 70%;
  flex-basis: 70%;
  overflow: scroll;
}
.message-list {
  -webkit-flex-basis: 15%;
  flex-basis: 15%;
}
.mailbox-list {
  -webkit-flex-basis: 15%;
  flex-basis: 15%;
}
.container header,
.container footer {
  min-height: 3rem;
}



/* Supplemental styles, mostly used for clarity. */

h1, form {
  font-size: 1rem;
  display: inline;
}
.container header,
.container footer {
  background: #ccc;
}
.message-list {
  background: #eee;
}
.mailbox-list {
  background: #ddd;
}
html,body {
  padding: 0;
  margin: 0;
  font-size: 16px;
}
.current {
  background: #fff;
}
.message p {
  padding: 0.5rem 1rem;
}
.message-list p {
  padding: 0.25rem;
}
