img
	margin: 0
	padding: 0
	vertical-align: middle
	border: none

.main
	margin: 20px
	border: 1px solid #ccc
	padding: 20px
	background: #fff
	border-radius: 3px

.bl
	padding: 5px 10px
	border:1px solid #ddd
	background: #fefefe
	border-radius: 3px
	margin: 20px

.main
	display: flex
	max-width: 1000px
	margin: 20px auto
	justify-content: center
	align-items: stretch
	align-content: stretch
	flex-flow: row wrap

.bl
	flex: 1 1 200px
	text-align: center

.image img
	width: 100%
	height: auto

.fl1

.fl2

.fl3

.fl4

.fl5

.fl6
